<mat-card>
    <mat-card-header>
      <mat-card-title><strong>Administrar Socios</strong> </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <hr>
        <br>
        <p><strong>Desea agregar un socio:</strong></p>
        <p><a routerLink="/form-user" ><mat-icon class="material-icons">person_add</mat-icon>  Agregar</a></p>
        <br>
        <p><strong>Desea ver todos los Socios</strong></p>
        <p><a routerLink="/list-user" ><mat-icon class="material-icons">group</mat-icon> Socios</a></p>
    </mat-card-actions> 
</mat-card> 
