<div class="container">
    <h2>Datos del Socio</h2>
    <form [formGroup]="userForm" >
        <mat-form-field appearance="outline">
            <mat-label>Nombre:</mat-label>
            <input matInput type="text" formControlName="nombre" required>
            <mat-error *ngIf="campoNovalido('nombre')"> El nombre no es valido minimo 3 letras</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Apellido:</mat-label>
            <input matInput type="text" formControlName="apellidos" required>
            <mat-error *ngIf="campoNovalido('apellidos')"> El apellido no es valido minimo 3 letras</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>DNI:</mat-label>
            <input matInput type="text" formControlName="dni" required>
            <mat-error *ngIf="campoNovalido('dni')"> El DNI no cumple con el formato debe tener 8 números y una letra</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Teléfono:</mat-label>
            <input matInput type="text" formControlName="telefono" required>
            <mat-error *ngIf="campoNovalido('telefono')">no cumple con el formato debe iniciar con 6 o 9 con 9 números </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Seleccione Sexo:</mat-label>
            <mat-select formControlName="sexo" required>
              <mat-option value="Masculino">Masculino</mat-option>
              <mat-option value="Femenino">Femenino</mat-option>
            </mat-select>
            <mat-error *ngIf="campoNovalido('sexo')">Seleccione una opción</mat-error>
        </mat-form-field>
        <div mat-dialog-actions class="btn-form"> 
            <div *ngIf="!seeUpdate">
                <button type="submit" mat-raised-button color="primary" (click)="addPartners()" [disabled]="userForm.invalid"> Agregar</button>
            </div>
            <div *ngIf="seeUpdate">
                <button type="submit" mat-raised-button color="primary" (click)="updatePartners()" [disabled]="userForm.pristine">Modificar</button>
            </div>    
            <button mat-raised-button color="warn"(click)="cancel()">Cancelar</button>  
            <br>
            <br>  
        </div>
    </form>
</div>
